<link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">
<link href="https://file.myfontastic.com/Vuk3LoFfYhdUaskpvPfcV9/icons.css" rel="stylesheet">
<header class="main-header">
    <div class="main-header__logo">
        <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/07/logo-1.png" alt="Logo C.E." class="logo">
    </div>
    <div class="contact">
        <span class="contact__title">Contact Us: </span>
        <span class="icon-phone contact__phone">0 (800)-555-43-21</span>
    </div>
</header>

<section class="main-banner">
    <div class="main-container">
        <div class="main-banner__data">
            <h1 class="main-banner__title">We Style Yout Pet</h1>
            <a href="" class="button">Revisar Citas</a>
        </div>
    </div>
</section>

<section class="main-history">
    <div class="main-container">
        <div class="history__title">
            <h1 class="title title--black">Nuestra Historia</h1>
        </div>
        <div class="history">
            <div class="history__data">
                <p class="history__text">Proporcionamos un ambiente muy cálido y amigable para sus mascotas. Nuestro equipo profesional se aseguró de que su mascota reciba siempre el más alto nivel de cuidado, ¡porque tratamos a todas las mascotas como si fueran nuestras!</p>
                <p class="history__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolor repellat aut aperiam eligendi amet natus. Accusamus, labore! Incidunt a fuga id, temporibus libero sunt dolor dicta. Laboriosam, ipsa est!</p>
                <div>
                    <a href="#" class="button">Contactanos</a>
                </div>
            </div>
            <div class="history__image">
                <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/07/image-31.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="main-services">
    <div class="main-container">
        <div class="main-services__title">
            <h1 class="title">Nuestros Servicios</h1>
        </div>
        <div class="service">
            <article class="services">
                <div class="icon-guide-dog services__image"></div>
                <div class="services__data">
                   <h3 class="services__title">Baño Premium</h3> 
                   <p class="services__text">Limpieza de glandulas, limpieza dental y limpieza de oidos.</p>
                </div>
            </article>
            <article class="services">
                <div class="icon-paw services__image"></div>
                <div class="services__data">
                    <h3 class="services__title">Colonia y Abrillantador</h3> 
                    <p class="services__text">Colonia y abrillantador al gusto del dueño.</p>
                </div>
            </article>
            <article class="services">
                <div class="icon-guide-dog services__image"></div>
                <div class="services__data">
                    <h3 class="services__title">Peinado, Lacitos y Corbatas</h3> 
                    <p class="services__text">Peinado, lacitos o corbatas según la ocasion.</p>
                </div>
            </article>
            <article class="services">
                <div class="icon-paw services__image"></div>
                <div class="services__data">
                    <h3 class="services__title">Happy Night </h3> 
                    <p class="services__text">Alojamiento en casa del Cuidador.</p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="main-packages">
    <div class="main-container">
        <div class="main-packages__title">
            <h1 class="title title--black">Nuestros Paquetes</h1>
        </div>
        <div class="package">
            <div class="package__container">
                <img src="https://images.pexels.com/photos/179112/pexels-photo-179112.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="" class="package__image">
                <h3 class="package__title">Bath & Groom</h3>
                <p class="package__text">Grooming service for a small dog include bathing, ear cleaning and grooming.</p>
                <strong class="package__price">S/.30.00</strong>
                <div class="package__button">
                    <a href="#" class="button">Tomar Paquete</a>
                </div>
            </div>
            <div class="package__container">
                <img src="https://images.pexels.com/photos/485294/pexels-photo-485294.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="" class="package__image">
                <h3 class="package__title">Bath & Tidy Up</h3>
                <p class="package__text">Grooming service for a small dog include bathing, ear cleaning and grooming.</p>
                <strong class="package__price">S/.40.00</strong>
                <div class="package__button">
                    <a href="#" class="button">Tomar Paquete</a>
                </div>
            </div>
            <div class="package__container">
                <img src="https://images.pexels.com/photos/179112/pexels-photo-179112.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="" class="package__image">
                <h3 class="package__title">Bath & Groom</h3>
                <p class="package__text">Grooming service for a small dog include bathing, ear cleaning and grooming.</p>
                <strong class="package__price">S/.50.00</strong>
                <div class="package__button">
                    <a href="#" class="button">Tomar Paquete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-team">
    <div class="main-container">
        <div class="main-team__title">
            <h1 class="title title--black">Nuestro Equipo de Trabajo</h1>
        </div>
    </div>
</section>

<section class="main-contact">
    <h1>Contactanos</h1>
     <form action="/contact" method="POST">
        <label for="">nombre</label>
        <input type="text" name="nombre"><br>
        <label for="">email</label>
        <input type="text" name="email"><br>
        <label for="">celular</label>
        <input type="number" name="telcelular"><br>
        <label for="">asunto</label>
        <input type="text" name="asunto"><br>
        <input type="submit">
     </form>
</section>

<a href="http://preview.themeforest.net/item/pet-grooming-pet-shop-veterinary-theme/full_screen_preview/18806505?_ga=2.150924530.538214313.1512662610-598514234.1507524479"> Site</a>