.main-container {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1em;
    padding-right: 1em;

    @media screen and (min-width: 1200px){
        padding: 0;
    }
}