<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/components.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/core.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/icons.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/menu.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/menu_dark.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/pages.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/responsive.css">
    <link rel="stylesheet" href="/styles/layout-dashboard/variables.css">
    <link rel="stylesheet" href="/styles/noty.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/layout-dashboard-js/bootstrap.min.js"></script>
    <script src="/js/layout-dashboard-js/detect.js"></script>
    <script src="/js/layout-dashboard-js/fastclick.js"></script>
    <script src="/js/layout-dashboard-js/jquery.app.js"></script>
    <script src="/js/layout-dashboard-js/jquery.blockUI.js"></script>
    <script src="/js/layout-dashboard-js/jquery.core.js"></script>
    <script src="/js/layout-dashboard-js/jquery.min.js"></script>
    <script src="/js/layout-dashboard-js/jquery.nicescroll.js"></script>
    <script src="/js/layout-dashboard-js/jquery.scrollTo.min.js"></script>
    <script src="/js/layout-dashboard-js/jquery.slimscroll.js"></script>
    <script src="/js/layout-dashboard-js/modernizr.min.js"></script>
    <script src="/js/layout-dashboard-js/npm.js"></script>
    <script src="/js/layout-dashboard-js/pace.min.js"></script>
    <script src="/js/layout-dashboard-js/waves.js"></script>
    <script src="/js/layout-dashboard-js/wow.min.js"></script>
    <script src="/js/layout-dashboard-pages/datatables.editable.init.js"></script>
    <script src="/js/layout-dashboard-pages/datatables.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.chartist.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.chartjs.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.dashboard.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.flot.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.fullcalendar.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.gmaps.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.inbox.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.morris.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.other-charts.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.peity.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.sweet-alert.init.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.tree.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.ui-sliders.js"></script>
    <script src="/js/layout-dashboard-pages/jquery.xeditable.js"></script>
    <script src="/js/layout-dashboard-pages/jvectormap.init.js"></script>
    <script src="/js/library/jquery.min.js"></script>
    <script src="/js/library/noty.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
