
<div id="content" class="main-register">
    <div class="main-container">
        <div class="register">
            <div class="register__title">
                <h1 class="title title--black">Registro</h1>
            </div>
            <form class="register__form" action="/formuser" method="POST">
                <div class="register__group">
                    <label class="register__label" for="nombre">nombre</label>
                    <input class="register__input" id="nombre" type="text" name="nombre" autofocus required/>
                </div>
                <div class="register__group">
                    <label class="register__label" for="direccion">direccion</label>
                    <input class="register__input"id="direccion" type="text" name="direccion" required/>
                </div>
                <div class="register__group">
                    <label class="register__label" for="telefono">telefono</label>
                    <input class="register__input"id="telefono" type="text" name="telefono" required/>
                </div>
                <div class="register__group">
                    <label class="register__label" for="email">email</label>
                    <input class="register__input"id="email" type="email" name="email" required/>
                </div>
                <div class="register__group">
                    <label class="register__label" for="usuario">usuario</label>
                    <input class="register__input"id="usuario" type="text" name="usuario" required/>
                </div>
                <div class="register__group">
                    <label class="register__label" for="contrasena">contraseña</label>
                    <input class="register__input"id="contrasena" type="password" name="contrasena" required/>
                </div>
                <input class="button" type="submit" value="Registrarse"/>
            </form>
        </div>    
    </div>
</div>
