
<h1>Eres admin</h1>
<div id="content" class="main-admin">
    <div class="main-container">
        <ul>
            <li><a href="/listuser">Usuarios</a></li>
            <li><a href="/listPet">Mascotas</a></li>
            <li><a href="/listsales">Ventas</a></li>
        </ul>
    </div>
</div>
